    <strong>&copy; <%= new Date().getFullYear() %> <a href="<%= bot.protocol + bot.config.dashboard.domain %>"><%= bot.user.username %></a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> <%= bot.config.dashboard.version %>
    </div>