  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake img-circle" src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png?size=64" alt="<% bot.user.username %>" height="60" width="60">
  </div>