<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      
      <div class="container">
        
      <% if (bot.user.displayAvatarURL()) { %><div class="col-2"><img style="float:left;padding-right:10px;" class="img-responsive rounded-circle bounce"src='<%= bot.user.displayAvatarURL() %>?size=128'></div>
      <div class="col-8"><% } %>
      <h1><%= bot.user.username %> Dashboard</h1><% if (bot.user.displayAvatarURL()) { %></div><% } %>
        <p>This is an <a href="https://jiro.k4deng.ml/code">opensource bot</a> made by k4deng to fit any Discord server.</p>
      <p>
        <a class="btn btn-primary" href="/commands" role="button"><i class="fa fa-fw fa-book" aria-hidden="true"></i> Bot Commands »</a>
      </p>
        </div>
    </div>
  </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><i class="fa fa-fw fa-question-circle" aria-hidden="true"></i> Support Server</h2>
          <p>Get help, and see latest features here in our support server</p>
          <p><a class="btn btn-secondary" href="https://jiro.k4deng.ml/support" role="button"> Support Server »</a></p>
        </div>
        <div class="col-md-4">
          <h2><i class="fa fa-brackets-curly" aria-hidden="true"></i> Code</h2>
          <p>This bot (complete with the dashboard) is completely opensource</p>
          <p><a class="btn btn-secondary" href="https://jiro.k4deng.ml/code" role="button"> Replit Code »</a></p>
        </div>
        <div class="col-md-4">
          <h2><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Dashboard!</h2>
          <p>Manage your server and set up settings here</p>
          <p><a class="btn btn-secondary" href="/login" role="button">Login »</a></p>
        </div>
      </div>
    </div>

<% include ./blocks/footer %>
